In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('https://raw.githubusercontent.com/leonism/sample-superstore/refs/heads/master/data/superstore.csv')

In [2]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3,CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         10800 non-null  object
 1   Order ID       10800 non-null  object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9983 non-null   float64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   float64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(5), object(14)
memory usage: 1.7+ MB

In [ ]:
df.shape

(10800, 21)

#2. Data Cleaning

In [ ]:
#Drop duplicates, fill/missing values:
df.drop_duplicates(inplace=True)
df.isna().sum()

Row ID             0
Order ID           0
Order Date       302
Ship Date        302
Ship Mode        302
Customer ID      302
Customer Name    302
Segment          302
Country          302
City             302
State            302
Postal Code      313
Region           302
Product ID       302
Category         302
Sub-Category     302
Product Name     302
Sales            302
Quantity         302
Discount         302
Profit           302
dtype: int64

In [3]:
# Percentage of missing values
print((df.isnull().sum() / len(df)) * 100)

Row ID           0.000000
Order ID         0.000000
Order Date       7.462963
Ship Date        7.462963
Ship Mode        7.462963
Customer ID      7.462963
Customer Name    7.462963
Segment          7.462963
Country          7.462963
City             7.462963
State            7.462963
Postal Code      7.564815
Region           7.462963
Product ID       7.462963
Category         7.462963
Sub-Category     7.462963
Product Name     7.462963
Sales            7.462963
Quantity         7.462963
Discount         7.462963
Profit           7.462963
dtype: float64

In [4]:
#Drop rows with missing values
df_cleaned_drop = df.dropna()
print("Shape after dropping missing data:", df_cleaned_drop.shape)

Shape after dropping missing data: (9983, 21)

In [5]:
#Fix column types (like postal code → string):
df['Postal Code'] = df['Postal Code'].astype(str)
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3,CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,Yes,US-2018-147886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10796,Yes,US-2018-147998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10797,Yes,US-2018-151127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10798,Yes,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10799,Yes,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. Exploratory Data Analysis (20 Questions + Code)

In [6]:
#Basic Info
df.describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

## Sales & Profit

In [12]:
#	What are the total sales and total profit for the Superstore?
total_sales = df['Sales'].sum()
total_profit = df['Profit'].sum()
print(f"Total Sales: ${total_sales:,.2f}")
print(f"Total Profit: ${total_profit:,.2f}")

Total Sales: $2,297,200.86
Total Profit: $286,397.02

In [13]:
#	What is the average order value?
avg_order_value = df.groupby('Order ID')['Sales'].sum().mean()
print(f"Average Order Value: ${avg_order_value:,.2f}")

Average Order Value: $458.07

In [14]:
# Which product has the highest sales? Which has the highest profit?
highest_sales_product = df.loc[df['Sales'].idxmax(), 'Product Name']
highest_profit_product = df.loc[df['Profit'].idxmax(), 'Product Name']
print(f"\nProduct with highest sales: {highest_sales_product}")
print(f"Product with highest profit: {highest_profit_product}")

Product with highest sales: Cisco TelePresence System EX90 Videoconferencing Unit
Product with highest profit: Canon imageCLASS 2200 Advanced Copier

In [16]:
#	Which product category (Furniture, Technology, Office Supplies) is the most profitable?
# Most profitable category
category_profit = df.groupby('Category')['Profit'].sum().sort_values(ascending=False)
print("\nProfit by category:")
category_profit

Profit by category:

Category
Technology         145454.9481
Office Supplies    122490.8008
Furniture           18451.2728
Name: Profit, dtype: float64

## Category & Sub-Category

In [33]:
# Which region has the highest sales? Which has the highest profit margin?
region_sales = df.groupby('Region')['Sales'].sum().sort_values(ascending=False)

print("\nSales by region:")
region_sales

Sales by region:

Region
West       725457.8245
East       678781.2400
Central    501239.8908
South      391721.9050
Name: Sales, dtype: float64

In [36]:

# Calculate region profit margin
region_profit = df.groupby('Region')['Profit'].sum()
region_sales = df.groupby('Region')['Sales'].sum()
region_profit_margin = (region_profit / region_sales).sort_values(ascending=False)

print("Profit Margin by Region:")
region_profit_margin

Profit Margin by Region:

Region
West       0.149448
East       0.134834
South      0.119343
Central    0.079216
dtype: float64

In [ ]:
#Profit by sub-category →
df.groupby('Sub-Category')['Profit'].sum()

Sub-Category
Accessories    41936.6357
Appliances     18138.0054
Art             6527.7870
Binders        30221.7633
Bookcases      -3472.5560
Chairs         26590.1663
Copiers        55617.8249
Envelopes       6964.1767
Fasteners        949.5182
Furnishings    13059.1436
Labels          5546.2540
Machines        3384.7569
Paper          34053.5693
Phones         44515.7306
Storage        21278.8264
Supplies       -1189.0995
Tables        -17725.4811
Name: Profit, dtype: float64

In [ ]:
#Revenue by region →
df.groupby('Region')[['Sales','Profit']].sum()

               Sales       Profit
Region
Central  501239.8908   39706.3625
East     678781.2400   91522.7800
South    391721.9050   46749.4303
West     725457.8245  108418.4489

In [24]:
#	Which city is the top contributor to sales?
city_sales = df.groupby('City')['Sales'].sum().sort_values(ascending=False)
print("\nTop 5 cities by sales:")
city_sales.head()

Top 5 cities by sales:

City
New York City    256368.161
Los Angeles      175851.341
Seattle          119540.742
San Francisco    112669.092
Philadelphia     109077.013
Name: Sales, dtype: float64

In [25]:
# Average number of orders per customer
avg_orders = df.groupby('Customer ID')['Order ID'].nunique().mean()
print(f"\nAverage number of orders per customer: {avg_orders:.2f}")

Average number of orders per customer: 6.32

In [27]:

# Top 5 customers by spending
top_customers = df.groupby(['Customer ID', 'Customer Name'])['Sales'].sum().sort_values(ascending=False).head(5)
print("\nTop 5 customers by spending:")
top_customers

Top 5 customers by spending:

Customer ID  Customer Name
SM-20320     Sean Miller      25043.050
TC-20980     Tamara Chand     19052.218
RB-19360     Raymond Buch     15117.339
TA-21385     Tom Ashbrook     14595.620
AB-10105     Adrian Barton    14473.571
Name: Sales, dtype: float64

In [28]:
# Average discount per product category
avg_discount = df.groupby('Category')['Discount'].mean().sort_values(ascending=False)
print("\nAverage discount by category:")
print(avg_discount)

Average discount by category:
Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [30]:
#Create a new column Profit Margin (Profit/Sales). Which sub-category has the lowest profit margin?
# Profit margin analysis
df['Profit Margin'] = df['Profit'] / df['Sales']

# Sub-category with lowest profit margin
subcat_profit_margin = df.groupby('Sub-Category')['Profit Margin'].mean().sort_values()
lowest_margin_subcat = subcat_profit_margin.idxmin()
print(f"\nSub-category with lowest profit margin: {lowest_margin_subcat}")

Sub-category with lowest profit margin: Binders